body{background:#000; color:#aaa; font-family:monospace;}
.chat > div{padding-top:3px;}
.user-response{padding-top:3px; margin:0}
.user-response input{background:#000; color:#aaa; font-family:monospace; border:0 none; outline:0 none; margin:0; padding:0;
width:100%; 
}